.payment-agent-signup-side-note {
    &__header {
        display: flex;
        align-items: center;
        column-gap: 0.8rem;
    }

    &__description {
        margin: 0.8rem 0 1.2rem;
    }

    .dc-btn {
        padding: 0 0.8rem;
    }
}
